.projects__list {
  max-height: 1050px;
  overflow-y: scroll;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}

.projects__list::-webkit-scrollbar {
  margin-left: 10px;
  width: 10px;
  height: 5px;
}

.projects__list::-webkit-scrollbar-button:start:decrement,
.projects__list::-webkit-scrollbar-button:end:increment  {
  height: 1px;
  background-color: transparent;
}

.projects__list::-webkit-scrollbar-track-piece  {
  background-color: transparent;
  border-radius: 5px;
}

.projects__list::-webkit-scrollbar-thumb:vertical {
  height: 5px;
  background-color: var(--color-skills-square-empty);
  border-radius: 5px;
}

.projects__item {
  max-width: calc(50% - 10px);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  aspect-ratio: 2/1;
}

.projects__btn {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: .5s ease;
  background-color: #ffffff94;
}

.projects__link {
  padding: 10px 20px;
  border-radius: 15px;
  background-color: var(--color-skills-square-empty);
  color: #ffffff;
  text-transform: uppercase;
  box-shadow: 0px 7px 5px 1px #38454fbf;
}

.projects__item:hover .projects__btn {
  opacity: 1;
}


@media (max-width: 768px) {

  .projects__item {
    max-width: 100%;
  }

}