.contacts__list {
  width: fit-content;
  column-count: 2;
  column-gap: 20px;
}

.contacts__link {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  column-gap: 10px;
}

.contacts__link svg {
  width: 50px;
  height: 50px;
}

.contacts__social {
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
}


@media (max-width: 1024px) {

  .contacts__list {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
  }

}